    {% extends 'base2.html' %}
    
    {% block conteudo2 %}
    <main>
        <section>
            <h1>Entre em contato</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </section>
        <section class="bordertop">
            <form class="margin-top">
                <label for="femail">Seu e-mail:</label> <br>
                <label for="femail">Assunto:</label> <br>
                <input class="margin-bottom" type="text" name="assunto"> <br>
                <label for="femail">Descrição:</label> <br>
                <input class="paddingb margin-bottom" type="text" name="descrição"> <br>
                <input type="submit" value="Enviar">
            </form>
        </section>
    </main>
    {% endblock %}
        