{% extends 'base.html' %}
    
{% block conteudo %}
        <main>
            <section>
                <img src="{{ url_for('static' , filename='img/capa.png')}}" alt="capa" height="414" width="1000">
                <h1>Sobre a Universidade</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam impedit necessitatibus
                    voluptatum
                    nobis incidunt eius cum maiores perferendis suscipit quae obcaecati blanditiis deserunt modi
                    voluptatibus hic iusto fugiat possimus, a ex pariatur animi sint quo voluptate! Nam ipsa aliquid
                    facilis
                    quidem nulla eveniet sed? Perspiciatis dolorum molestiae sit consectetur impedit voluptates fugit
                    amet,
                    cum itaque eaque nobis eum, cupiditate praesentium. Cum vitae sunt nesciunt ipsa, recusandae
                    praesentium
                    repellat incidunt facere corrupti, mollitia dolorem! Atque labore culpa id, laudantium eligendi sit
                    deleniti aut voluptas, sequi rem fugit voluptates ratione unde dicta! Quos accusantium perferendis
                    sequi! Perspiciatis itaque ea voluptatum iusto?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ab culpa rem ad obcaecati quam
                    laborum
                    minus aliquid alias ea, recusandae hic sed maxime debitis magnam quaerat eaque in consequuntur quos
                    accusamus harum error consequatur vel quia. Exercitationem eos in molestiae. Molestiae non
                    similique,
                    repellendus ea tempora ipsum porro ullam doloremque optio voluptatem harum dicta quidem labore nemo
                    quia
                    assumenda qui neque dolore quas asperiores? Voluptatum dolorum fugiat ab, dolor ullam magnam at hic
                    dicta animi quas ea. At, cupiditate?</p>
            </section>
        </main>
{% endblock %}