{% extends 'base2.html' %}
    
{% block conteudo2 %}
        <main>
            <section>
                <h1>Quem Somos</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi ullam accusantium omnis, ducimus est
                    nam
                    quod expedita corrupti ut dignissimos et labore, itaque id dolorum maxime molestias dolores
                    cupiditate
                    fugit, quam nulla! Architecto, eveniet nesciunt animi error facilis enim, commodi impedit ea sit
                    iure
                    nostrum dolore reiciendis deserunt quis est voluptates obcaecati repudiandae repellendus aut
                    ducimus!
                    Unde ipsa quae aliquid quo suscipit ratione fuga ea, quasi dolore, neque voluptatum nostrum quod
                    ullam
                    molestias laborum minima tempora officiis. Quisquam id doloremque voluptatem eos ab, quod iusto
                    voluptates laudantium nisi dolorum dicta, illo earum! Illum, quos consequatur adipisci tempora ut
                    quas
                    ipsum.</p>
                <h1>5 Motivos para estudar</h1>
                <p>1. Lorem, ipsum dolor.</p>
                <p>2. Lorem, ipsum dolor.</p>
                <p>3. Lorem, ipsum dolor.</p>
                <p>4. Lorem, ipsum dolor.</p>
                <p>5. Lorem, ipsum dolor.</p>
            </section>
            <section class="bordertop">
                <h1>Objetivos</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium fugit magni sunt recusandae
                    exercitationem ab possimus temporibus iure unde aliquid sit fugiat corporis hic deserunt natus,
                    rerum
                    placeat omnis ut assumenda sequi a voluptates tempora eum delectus? Illum, laborum necessitatibus
                    sint
                    at quas aliquid voluptas porro, error dolorum, esse laudantium iste expedita. Aliquid nam sunt,
                    voluptatem placeat nobis atque ipsum tempore, qui pariatur, perferendis eos ut aliquam in debitis
                    voluptatum dolores a officiis eum magnam delectus eveniet! Illum, assumenda corporis.</p>
            </section>
        </main>
{% endblock %}        